<% @page_title = "Pages" %>

<%= actions do %>
  <%= shared_paginator_for :pages %>
  <div class="action">
    <%= link_to "Add a New Page", new_admin_page_path, :class => "icon add_page" %>
  </div>
<% end %>

<%= render :partial => "admin/shared/index_table", :locals => {:index => @index, :queue => @pages} %>

<%#= shared_paginator_for :pages %>
