<% @page_title = "Forgot your password?" %>

<%= content_tag(:h2, @page_title, :class => "header") %>

<div id="forgot_pwd" class="sign">
  <p>Enter the email address you used to join below. We will send you an email with a link to reset your password.</p>
  <%- form_for User.new, :url => forgot_password_path do |f| -%>
    <ul class="std_form">
      <li><label class="text">Email Address</label><%= text_field :user, :email %></li>
      <li class="submit"><%= submit_tag 'Retrieve Password', :class => "bn" %></li>
      <li class="create_account">Not a member of Social Designer? <%= link_to "Join now &raquo;", new_user_path, :class => "nyroModal" %></li>
    </ul>
  <%- end -%>
</div>