<% @page_title  = "Member Sign In" %>
<% @signin_message = "Have an account already? Let's get to it." %>

<%= content_tag(:h1, @page_title) %>

<div id="signin_form" class="sign">
  <% form_for :session, :url => session_path do |f| -%>
    <%= render :partial => "sign_in", :locals => {:f => f} %>
  <% end -%>
</div>
