<% @page_title = "Reset your password" %>

<%= content_tag(:h1, @page_title) %>
<div id="reset_pwd" class="sign">
  <p style="margin: 10px; padding: 10px; text-align: center; background-color: #E9EEEF; border: 1px solid #D7DCDD; color: #535F62; font-size: 15px">Enter your new password below.</p>

  <% form_for :user, @user, :url => reset_password_path(current_user.id, current_user.password_reset_hash), :html => {:method => :post} do |f| %>
    <div class="std_form">
      <ul>
        <%= f.ul_password_field :password, :text => 'New Password' %>
        <%= f.ul_password_field :password_confirmation, :text => 'Confirm Password' %>
        <li class="submit"><%= submit_tag 'Reset Password', :class => "bn" %></li>
      </ul>
    </div>
  <% end -%>
</div>
