body {
  font-size: 12px;
  line-height: 1.538;
  color: #000;
  background-color: #222;
  font-family: "helvetica neue", helvetica, arial, sans-serif;
  text-align: center;
}

#wrapper,
#header .wrapper,
#footer .wrapper,
#navigation .wrapper,
.breadcrumbs {
  margin: 0 auto;
  text-align: left;
}

a {
  color: #3366cc;
  text-decoration: none;
}

a:hover { text-decoration: underline; }

#footer .wrapper,
#header .wrapper {
  padding: 0 1em;
  text-align: left;
}

#wrapper,
#header .wrapper,
#footer .wrapper {
  min-width: 920px;
}

#page_content .flash { width: auto; }
.flash { text-align: center; }
a, input, select, textarea { outline: none; }

h1,h2,h3,h4,h5,h6,
strong, strong *, * strong  { font-weight: bold; }
em, em *, * em              { font-style: italic; }

h1, h2, h3 { font-family: Helvetica, arial, sans-serif; }

img { background-color: transparent; }

h1        { font-size:  138.5%;   } /*18px*/
h2        { font-size:  123.1%;   } /*16px*/
h3        { font-size:  108%;     } /*14px*/
h1,h2,h3  { margin:     1em 0;    }

p,fieldset,table { margin-bottom:1em; }

/* page structures
------------------------------------------------------------*/

.aux #page_content,
#sidebar {
  position: relative;
  float: left;
}

#main {
  float: right;
  margin-left: -260px;
  width: 100%;
}

#page_top,
#content_wrap {
  background-color: #fff;
}

#content_wrap {
  margin-left: 260px;
}

.aux #page_content {
  width: 100%;
}

#sidebar {
  width: 260px;
}

#bottom {
  width: 100%;
  height: 16px;
  border: 0;
  clear: both;
  display: none;
}

#page_top {
  position: relative;
  margin-left: 260px;
  min-height: 34px;
}

#inner { min-height: 500px; }

#inner > .content {
  padding: 20px;
}

/* skin
----------------------------------------------------------------------*/

#main { background: #222 url(/images/admin/body.png) 0 0 repeat-y; }
#sidebar { background: transparent url(/images/admin/top_left.png) 0 0 no-repeat; }
#header,
#footer { background: #222 url(/images/admin/header_footer.png) 0 0 repeat-x; }
h1.page_title,
h2.inner_content { background: #d3d3d3 url(/images/admin/page_title.png) 0 0 repeat-x;}

#header .nav_01 li,
#header .nav_01 li a,
#header .nav_03 li,
#header .nav_03 li a {
  background-image: url(/images/admin/tab_inactive.png);
}

#header .nav_01 li.active,
#header .nav_01 li.active a,
#header .nav_03 li.active,
#header .nav_03 li.active a {
  background-image: url(/images/admin/tab_active.png);
}

/* Header
----------------------------------------------------------------------*/

#header,
#header p a { color: #fff; }

#header p {
  margin: 0;
  font-size: 22px;
  line-height: 48px;
  letter-spacing: 1px;
  text-shadow: 0 -1px 0 #000;
}

#breadcrumbs a {
  font-weight: bold;
  color: #000;
}

/* nav_01
----------------------------------------------------------------------------*/

#header .nav {
  position: relative;
  height: 36px;
}

.nav_01 li { position: relative; }

.nav_01 {
  position: relative;
  float: left;
}

.nav li,
.nav li a,
.nav_02 li,
.nav_02 li a,
.sub_nav li,
.sub_nav a {
  float: left;
  display: block;
}

#header .nav li a {
  background-position: right 0;
}

.nav li {
  line-height: 36px;
  padding-left: 10px;
}

.nav li a {
  padding: 1px 20px 0 10px;
  color: #fff;
  text-shadow: #111 0 -1px 0;
}

.nav li.active a {
  color: #000;
  text-shadow: #fff 0 1px 0;
}

.nav li a:hover {
  text-decoration: underline;
}

/* other header navs
-----------------------------------------------------------------------------*/

.nav_02,
.nav_03 { float: right; }

.nav_02 {
  margin-top: 5px;
  border: 1px solid #000;
  padding: 3px 8px;
  border-radius:          4px;
  -moz-border-radius:     4px;
  -webkit-border-radius:  4px;
  color: #fff;
  background-color: #222;
}

.nav_02 li {
  color: #ddd;
  margin-left: 0.5em;
}

.nav_02 li a {
  color: #fff;
  margin-right: 0.5em;
}

/* submenu / drop down
----------------------------------------------------------------------*/

.nav ul {
 width: 180px; /* Sub Menu Width */
 display: none;
 position: absolute;
 top: 45px;
 left: -3px;
 z-index: 9999;
}

ul.nav ul li:first-child a { border-top: 0; }
ul.nav ul li:last-child  a { border-bottom: 0; }

ul.nav_01 ul ul,ul.nav_01 ul ul ul { top: 0; left: 100%; }

ul.nav_01 ul li {
  margin: 0;
  padding: 0 1em;
  background-image: url(/images/admin/bg_dropdown.png)!important;
  background-position: 0 center;
}

ul.nav_01 ul li,
ul.nav_01 ul li a {
  display: block;
  float: none;
}

ul.nav_01 ul li a,
ul.nav_01 ul li a {
  height: auto;
  padding: 5px;
  border-top:     1px solid #fff;
  border-bottom:  1px solid #d5d5d5;
  background-image: none;
}

#header li ul li a {
  background-image: none!important;
}

ul.nav_01 ul li:first-child {
  padding-top: 1px;
  background-position: 0 0;
}

ul.nav_01 ul li:last-child  {
  padding-bottom: 9px;
  background-position: 0 bottom;
}

/* Hover Function - Do Not Move */
ul.nav_01 li:hover ul,
#footer ul.nav_01 li:hover ul  { display: none; }
ul.nav_01 li:hover ul,ul.nav_01 ul li:hover ul,ul.nav_01 ul ul li:hover ul,ul.nav_01 li.iehover ul,ul.nav_01 ul li.iehover ul,ul.nav_01 ul ul li.iehover ul { display: block; }

.nav_01 ul li,
.nav_01 ul li a {
  margin-bottom: 0;
}

/* Sub nav 
----------------------------------------------------------------------*/

.sub_nav {
  padding: 5px 5px 0;
  height: 30px;
  border-top: 1px solid #ccc;
  line-height: 30px;
  background-color: #dcdcdc;
}

.sub_nav * {
  color: #111;
  background: #aaa url(/images/admin/sub_nav.png) no-repeat;
}

.sub_nav .active,
.sub_nav .active a {
  background: #fff url(/images/admin/sub_nav_active.png) no-repeat;
}

.sub_nav li {
  padding-left: 7px; 
  text-shadow: 0 1px 0 rgba(255,255,255,0.4);
}

.sub_nav a,
.sub_nav .active a  {
  padding: 0 15px 0 8px;
  background-position: 100% 0;
}


/* footer
----------------------------------------------------------------------*/

#footer,
#footer a {
  color: #666;
  text-shadow: 0 -1px 0 #000;
}

#footer {
  padding: 15px 5px;
}

#footer li {
  display: inline;
  margin-right: 30px;
}

#footer .nav_03 li {
  margin-right: 0;
}

#footer li.active a { color: #fff; }

#footer .nav_01 a,
#footer .nav_03 a {
  display: inline;
  padding: 0;
}

/* search
----------------------------------------------------------------------------*/

div.search {
  position: absolute;
  top: 1px;
  right: 0;
  height: 39px;
}

div.search form {
  height: 35px;
  padding-top: 7px;
  border-left: 1px solid #d5d5d5;
  padding-left: 10px;
}

.search form #search {
  width: 15em;
}

.page_actions form .bn {
  margin-left: 10px;
}

.search form span {
  margin-left: 30px;
  line-height: 25px;
}

.search form input {
  margin-right: 10px;
}

/* action buttons
-----------------------------------------------------------------------------------------*/

.page_actions {
  padding: 0 0 0 25px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #d5d5d5;
  background-color: #f0f0f0;
  line-height: 30px;
}

.page_actions {
  position: relative;
  z-index: 100;
  overflow: visible;
}

.quick_add li a,
.page_actions a.icon  {
  display: inline-block;
  padding-left: 21px;
  background-position: left 6px;
  background-repeat: no-repeat;
  font-size: 11px;
  font-weight: bold;
  color: #555;
}

/* page title
----------------------------------------------------------------------------*/

h1.page_title,
#sidebar h3,
h2.inner_content {
  margin: 0;
  padding: 7px 24px 2px;
  line-height: 26px;
  text-shadow:  0 1px 0 #fff;
  letter-spacing: 1px;
  color: #333;
  font-weight: normal;
  border-bottom: 1px solid #b3b3b3;
}

h1.page_title,
h2.inner_content {
  font-size: 14px;
  text-transform: uppercase;
}

h2.inner_content {
  margin-top: -1px;
  border-top: 1px solid #e5e5e5;
}

h1.page_title a,
h2.inner_content span {
  font-size: 12px;
  color: #555;
  text-transform: none;
}

#sidebar h3 {
  padding-left: 15px;
  border-color: #d5d5d5;
  font-size: 12px;
}

p.inner_content {
  margin: 0 0 1em;
  padding: 0 20px;
}

/* sidebar
----------------------------------------------------------------------*/

.quick_add,
.textile_instructions { margin: 0 1px 0 0; }

#sidebar li {
  padding: 0 15px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #d9d9d9;
  line-height: 30px;
  font-size: 12px;
}

.quick_add li a {
  display: block;
  color: #555;
  font-weight: bold;
}

/* icons
----------------------------------------------------------------------*/

.icon,
.button {
  margin-right: 15px;
}

.button {
  display: inline-block;
  width:  16px;
  height: 16px;
  text-indent: -9999em;
}

.add            { background-image: url(/images/admin/icons/add.gif); }
.edit           { background-image: url(/images/admin/icons/page_white_edit.gif); }
.delete         { background-image: url(/images/admin/icons/delete.gif); }
.cancel         { background-image: url(/images/admin/icons/cancel.gif); }
.add_page       { background-image: url(/images/admin/icons/note_add.gif); }
.add_user       { background-image: url(/images/admin/icons/user_add.gif); }
.add_art        { background-image: url(/images/admin/icons/photo_add.gif); }
.add_date       { background-image: url(/images/admin/icons/date_add.gif); }
.add_gallery    { background-image: url(/images/admin/icons/building_add.gif); }
.add_exhibit    { background-image: url(/images/admin/icons/image_add.gif); }
.download       { background-image: url(/images/admin/download.png); }
.money          { background-image: url(/images/admin/icons/money.gif); }
.sync           { background-image: url(/images/admin/icons/arrow_refresh_small.gif); }
.ship           { background-image: url(/images/admin/icons/basket_go.gif); }
.help           { background-image: url(/images/admin/icons/help.gif); }

/* messaging
---------------------------------------------------------------------------------*/

.flash p,
#header + .flash,
#breadcrumbs + .flash { margin: 0; }

div.flash,
p.flash {
  margin: 0 auto 1em;
  padding: 1em 0;
  border-width: 1px;
  border-style: solid;
  color: #000;
  font-weight: bold;
  z-index: 100;
  text-align: center;
}

div.error,
p.error {
  border-color:     #ff0000;
  background-color: #ffecec;
}

div.notice,
p.notice {
  border-color:     #347432;
  background-color: #cfffcd;
}

.errorExplanation {
  margin: -1em 0 1em;
  padding: 0 1em 1em;
  display: none;
}

.errorExplanation h2,
.errorExplanation p,
dt p.error,
dt span {
  color: #930000;
}

.errorExplanation h2,
.errorExplanation p {
  margin-bottom: 0;
  font-weight: bold;
}

.errorExplanation h2 {
  padding-left: 21px;
  font-size: 123.1%;
  background: url(/images/admin/exclamation.gif) left 3px no-repeat;
}

.errorExplanation p,
.errorExplanation ul {
  padding-left: 21px;
}

.errorExplanation li {
  margin: 0 0 0 1em;
  padding: 0;
  list-style-type: disc;
  list-style-position: inside;
}

.fieldWithErrors,
.fieldWithErrors *,
dt p.error {
  display: inline;
}

.fieldWithErrors option {
  display: list-item;
}

li p.error,
li.error {
  background: #fff;
  font-weight: bold;
}

li p.error {
  margin: 0;
}

li p.error span.msg {
  font-weight: normal;
}

.refund li p.error {
  padding-left: 32%;
}

.fieldWithErrors span {
  display: none;
}

.contact .fieldWithErrors label {
  display: none;
}

/* show page
----------------------------------------------------------------------*/

.show_page_attributes {
  padding: 1em 2em;
}

.show_page_attributes ol,
.show_page_attributes ul {
  margin: 0 2em 1em;
  list-style: outside disc;
}

.show_page_attributes ul li { list-style: outside disc;     }
.show_page_attributes ol li { list-style: outside decimal;  }

.show_page_attributes dt {
  font-weight: bold;
}

.show_page_attributes dd {
  margin-bottom: 1em;
}

/* pagination
----------------------------------------------------------------------*/

.pagination_nav {
  position: relative;
  float: right;
  padding: 0 25px;
  background: url(/images/admin/bg_pattern.png);
  line-height: 30px;
}

div.pagination {
  display: inline;
  margin: 0;
  text-align: center;
  border-right: 1px solid #b3b3b3;
}

.pagination_nav span,
.pagination_nav a {
  padding: 3px 5px;
  border:     0 !important;
}

.pagination .prev_page,
.pagination .next_page  { font-weight: normal; }

.pagination .current { 
  background-color: #444;
  color: #fff;
  border-radius:          3px;
  -moz-border-radius:     3px;
  -webkit-border-radius:  3px;
  font-weight: bold;
}

.pagination .disabled   { color: #aaa; }

.pagination_nav a {
  text-decoration: none; 
  color: #222; 
}

.pagination_nav a:hover { text-decoration: underline; }

/* Go to page in pagination 
----------------------------------------------------------------------*/

div.go_to_page { display: none; }

div.display,
div.go_to_page form {
  display: inline;
}

div.go_to_page input[type=submit] {
  margin: 0;
  padding: 2px 5px;
  font-size: 12px;
  -moz-border-radius:     3px;
  -webkit-border-radius:  3px;
}
 
/* table styling
-----------------------------------------------------------------------------------------*/

table {
  width: 100%;
  margin: 0;
  border-collapse: collapse;
  border-top: 1px solid #fff;
}

table.dataset td          { padding: 5px; }
table.dataset             { width: 100%;}
table.dataset .nested     { text-indent: 20px; }
table.dataset .controls   { text-align: right; }

table tr td,
table.show tr th {
  vertical-align: middle;
  border-bottom: 1px solid #eee;
}

tr td.image {
  width: 75px;
  padding: 5px;
  vertical-align: top;
  background: #fff;
  margin-right: 5px;
}

td:first-child,
th:first-child {
  font-weight: bold;
  padding-left: 25px !important;
}

thead th,
table td {
  padding: 0.5em;
  vertical-align: middle;
  overflow: hidden;
}

thead th,
thead th a {
  color: #000;
}

thead th {
  padding: 1em 0.5em 1.5em;
  font-weight: bold;
  background: #f2f2f2 url(/images/admin/thead.png) 0 bottom repeat-x;
  text-transform: uppercase;
  white-space:nowrap;
}

thead th a {
  display: inline-block;
  padding-right: 15px;
  background: url('/images/admin/down_arrow.gif') right center no-repeat;
}

table tr:hover { background-color: #DFEDFF; }
td.controls { width: 70px; }

td.controls a {
  display: block;
  float: left;
  width:  16px;
  height: 16px;
  margin: 0.25em 0 0 1em;
  text-indent: 10000%;
  background-position: 0 0;
  background-repeat: no-repeat;
  overflow: hidden;
}

/*  Cycle classes
----------------------------------------------------------------------*/

tr.light    { background: #fff;     }
tr.dark     { background: #f6f6f6;  }
tr.current  { background: #dedede;  }

/* 2, 3, 4 columns
----------------------------------------------------------------------*/

.cols { margin-bottom: 30px; }
.col  { float: left; }

.two    .col  { width: 48%; }
.three  .col  { width: 32%; }
.four   .col  { width: 22%; }

.two .col,
.four .col   { margin-right: 2%; }

.three .col  { margin-right: 1.5%; }

.three .double  { width: 65%; }
.four .triple   { width: 73%; }

.last {margin-right: 0; !important; }

/* form styles
----------------------------------------------------------------------*/

form label {
  cursor: pointer;
  font-weight: bold;
}

form textarea {
  vertical-align: text-top;
  min-height: 15em;
  overflow: auto;
  font-size: 116%;
  line-height: 1.7;
}

input.checkbox,
input.radio {
  position: relative;
  top: -2px;
  vertical-align: middle;
  margin-right: 1px;
}

form dl { margin-bottom: 0; }

form dt,
form li label,
legend { margin-bottom: 0; }

form dd { margin-bottom: 0.5em; }

fieldset {
  border: 0;
  width: 100%;
}

/* text area with js toggle open / close
----------------------------------------------------------------------*/

.std_form .text_area {
  padding: 0.5em 0;
  border-bottom: 1px solid #ddd;
  margin: 1px 0;
}

.std_form .text_area label {
  padding-left: 2em;
  background: url(/images/admin/bg_arrow.png) 10px 7px no-repeat;
}

.std_form .text_area.open label { background-position: 10px -43px; }
.std_form .text_area.open { background-color: #ffffcc; }
.std_form .text_area textarea { margin: 0.5em 2em; }

/* Standard ul form styles
----------------------------------------------------------------------*/

.std_form li,
dl.std_form {
  width: auto;
}

.std_form li {
  margin-bottom: 1em;
}

.required span,
.date_time span,
#image_uploader label span {
  color: #B83F1D;
}

.std_form p.instructions {
  color: #222;
  font-size: 93%;
}

.std_form p.instructions .special { color: blue; }

.submit { margin: 1em 0; }
.std_form li label { display: block; }
.std_form { padding: 25px; }
.std_form dd.buttons * { margin-top: 0; }

.std_form dt        { font-weight: bold; }
.std_form dd label  {
  margin-right: 1em;
  font-weight: normal;
}

.std_form dd.buttons {
  background-color: transparent;
  margin-top: 2em;
}

.std_form input[type=text],
.std_form input[type=password],
.std_form textarea {
  padding: 5px;
  border: 1px solid #777;
  width: 70%;
  background-color: #fdfdfd;
}

.std_form input[type=text]:focus,
.std_form input[type=password]:focus,
.std_form textarea:focus {
  border-color: #fff;
  background-color: #fff;
  box-shadow:         0 0 5px #00203e;
  -moz-box-shadow:    0 0 5px #00203e;
  -webkit-box-shadow: 0 0 5px #00203e;
}

.std_form input[type=text],
.std_form input[type=password],
.std_form textarea,
.std_form select,
dd.text_editor {
  font-size: 108%;
  font-family: "Lucida Grande", arial;
  color: #5b5b5b;
}

input[type=file] {
  padding: 1em;
  border: 1px solid #ddd;
  background-color: #f5f5f5;
}

input[type=submit] {
  margin-right: 0.5em;
  padding: 0.5em 2em;
  box-shadow:         0 0 5px #555;
  -moz-box-shadow:    0 0 5px #555;
  -webkit-box-shadow: 0 0 5px #555;
  border-radius:          20px;
  -moz-border-radius:     20px;
  -webkit-border-radius:  20px;
  cursor: pointer;
  color: #fff;
  border: 0px solid #fff;
  background: #5E7185 url(/images/admin/submit.png) center center repeat-x;
  font-weight: bold;
  font-size: 108%;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-shadow: 0 -1px 0 #000;
}

input[type=submit]:hover {
  box-shadow:         0 0 5px #000;
  -moz-box-shadow:    0 0 5px #000;
  -webkit-box-shadow: 0 0 5px #000;
}

dd.text_editor { padding-right: 20%; }
.content .two .col { width: 280px; }
.hidden { display: none; }
.std_form li.checkbox * { display: inline; }

/* session layout
----------------------------------------------------------------------*/

#session { background-color: #222; }
#session .std_form { padding: 0 25px; }

#session h1 {
  font-weight: normal;
  margin:  1em 25px 0.5em;
  font-size: 131%;
}

#session p {
  margin: 0 25px;
}

#session .password_recover {
  margin-bottom: 0;
}

#session #wrapper {
  width: 500px;
  margin-top: 50px;
  padding: 0;
  overflow: hidden;
  min-width: 1px;
}

#session .submit {
  margin: 2em 0;
  padding-bottom: 2em;
  border-bottom: 1px dotted #aaa;
}

#session #page_content,
#session #inner {
  background-image: url(/images/admin/bg_session.png);
  min-height: 1px;
}

#session #wrapper #page_content {
  padding-bottom: 40px;
  min-height: 100px;
  background-position: 0 bottom;
}

#session #inner {
  text-align: left;
  width: 450px;
  padding: 130px 25px 0;
}

#session label,
#session input {
  font-size: 108%;
}

#session input[type=text],
#session input[type=password] {
  width: 95%;
  font-size: 131%;
}

#session .instructions {
  padding: 10px;
  margin: 2em 25px 1em;
  background-color: #ffffcc;
  border: 1px dotted #ffcc66;
}

#session .flash {
  margin-top: 2em;
}

#forgot_pwd .std_form,
#reset_pwd .std_form {
  padding-top: 0;
}

#forgot_pwd > p {
  margin-bottom: 1em;
  padding-bottom: 1em;
  border-bottom: 1px dotted #aaa;
  font-size: 93%;
  color: brown;
}

/* Unique tables
----------------------------------------------------------------------*/

table.assets .asset_cell img {
  width: 80px;
}

table.assets .asset_cell .tooltip_popup {
  display: none!important; /* override the javascript */
}

td.position_cell {
  width: 40px;
}

td.position_cell span {
  display: block;
  width: 34px;
  height: 16px;
  padding-left: 22px;
  color: #666;
  font-weight: normal;
  background-repeat: no-repeat;
  line-height: 16px;
}

.assets_3 td.position_cell span,
.assets_1 td.position_cell span { background-image: url(/images/admin/position_icons_3.png); }
.assets_6 td.position_cell span { background-image: url(/images/admin/position_icons_6.png); }

td.position_1 span { background-position: 0 0; }
td.position_2 span { background-position: 0 -16px; }
td.position_3 span { background-position: 0 -32px; }
td.position_4 span { background-position: 0 -48px; }
td.position_5 span { background-position: 0 -64px; }
td.position_6 span { background-position: 0 -80px; }

td.asset_image img {
  float: left;
  margin-right: 10px;
  width:  69px;
  height: 39px;
  border: 1px solid #000;
}

td.asset_image span {
  display: block !important;
  line-height: 39px;
}

td.asset_image span span:before {
  content: "Caption: ";
  font-weight: bold;
}

.ui-sortable-helper {
  background-color: #ffea99 !important;
  cursor: move;
  border: 1px solid #fecb00;
  -moz-box-shadow:0 0 5px rgba(0, 0, 0, 0.5);
}

.ui-sortable-helper span span,
.ui-sortable-helper .delete,
.ui-sortable-helper .edit {
  display: none!important;
}

/* show page
----------------------------------------------------------------------*/

div.show {
  padding: 20px;
}

dl.show dt { font-weight: bold; }
dl.show dd { margin-bottom: 15px; }


/* admin modal for instructions 
----------------------------------------------------------------------*/

div#nyroModalContent.w_scrollbars {
  overflow: auto;
}

.modal_instructions {
  padding: 50px;
  background-color: #fff;
  border: 2px solid #eee;
}

.instructions dt {
  font-weight: bold;
  font-size: 108%;
}

.instructions dd {
  margin-bottom: 1em;
}

.instructions ul,
.instructions ol {
  margin: 0.5em 2em;
  padding: 0;
}

.instructions ul li { list-style: circle; }
.instructions ol li { list-style: decimal; }

/* clearfix
----------------------------------------------------------------------*/

.cols:after,
#wrapper:after,
.wrapper:after,
.page_actions:after,
#content_wrap:after,
#nav:after,
#inner:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
}

.cols,
#wrapper,
.wrapper,
.page_actions,
#nav,
#inner {
  display: inline-block;
}

html[xmlns] .cols,
html[xmlns] #wrapper,
html[xmlns] .wrapper,
html[xmlns] .page_actions,
html[xmlns] #content_wrap.aux,
html[xmlns] #nav,
html[xmlns] #inner {
  display: block;
}

* html .cols,
* html #wrapper,
* html .wrapper,
* html .page_actions,
* html #content_wrap.aux,
* html #nav,
* html #inner {
  height: 1%;
}
