/* This stylesheet sets baseline styles used between admin and public 
----------------------------------------------------------------------*/

body {
  line-height: 1.538;
  color: #5b5b5b;
  text-align: center;
}

a, input, select, textarea {
  outline: none;
}

h1,h2,h3,h4,h5,h6,
strong, strong *, * strong  { font-weight: bold; }
em, em *, * em              { font-style: italic; }

h1, h2, h3 { font-family: Helvetica, arial, sans-serif; }

img { background-color: transparent; }

h1        { font-size:  138.5%;   } /*18px*/
h2        { font-size:  123.1%;   } /*16px*/
h3        { font-size:  108%;     } /*14px*/
h1,h2,h3  { margin:     1.5em 0 1em;    } 

abbr,acronym {
  border-bottom: 1px dotted #000;
  cursor: help;
} 

blockquote { margin: 1em; }

caption {
  margin-bottom:.5em;
  text-align:center;
}

p,fieldset,table { margin-bottom:1em; }

.inline { display: inline; }
.left { float: left; }
.right { float: right; }
.clear { clear: both; }

#staging {
  position: fixed;
  bottom: 10px;
  left: 0;
  width: 30px;
  height: 135px;
  background: url(/images/shared/staging.png) no-repeat;
  text-indent: -1000em;
  z-index: 10000;
}

#wrapper,
#header .wrapper,
#footer .wrapper,
#navigation .wrapper,
.breadcrumbs {
  margin: 0 auto;
  text-align: left;
}

/* default table styles
-------------------------------------------------------------------------*/

table {
  width: 100%;
  border-collapse: collapse; 
}

th,td {
  padding:  2px 2px 2px 5px;
  vertical-align: top;
}

th {
  font-weight: bold;
}

td {
  border-bottom: 1px solid #eee;
}

/* Cycle classes
--------------------------------------------------------------------------------*/

tr.light    { background: #fff;     }
tr.dark,
li.dark     { background: #f6f6f6;  }
tr.current  { background: #dedede;  }

/* list styles
----------------------------------------------------------------------------------*/

.disc,
.decimal,
.upper_roman,
.lower_roman,
.upper_alpha,
.lower_alpha,
.no_style {
  margin: 1em;
  margin-left: 2em;
}   

.disc         li { list-style-type: disc;        }
.decimal      li { list-style-type: decimal;     }
.upper_roman  li { list-style-type: upper-roman; }
.lower_roman  li { list-style-type: lower-roman; }
.upper_alpha  li { list-style-type: upper-alpha; }
.lower_alpha  li { list-style-type: lower-alpha; }
.no_style     li { list-style-type: none; }

.disc li,
.no_style li,
.decimal li,
.upper_roman li,
.lower_roman li,
.upper_alpha li,
.lower_alpha li {
  text-align: left !important;
  margin-bottom: 5px;
}

/* overrides for managed content */

.managed ul,
.managed ol {
  margin: 1em;
  margin-left: 2em;
}

.managed li {
  margin-bottom: 1em;
}

.managed ul li { list-style-type: disc; }
.managed ol li { list-style-type: decimal; }

/* forms
--------------------------------------------------------------------------------------*/

form label {
  cursor: pointer;
  font-weight: bold;
}

form textarea {
  vertical-align: text-top;
  height: 10em;
}

.checkbox input,
.radio input,
input.checkbox,
input.radio {
  position: relative;
  top: -2px;
  vertical-align: middle;
  margin-right: 1px;
}

form dl {
  margin-bottom: 0;
}

form dt,
form li label,
legend {
  margin-bottom: 0;
}

form dd {
  margin-bottom: 0.5em;
}

fieldset {
  border: 0;
/*   width: 100%; */
}

/* buttons
--------------------------------------------------------------------------------------*/

.bn_gold {
  display: block;
  margin-top: 25px;
  padding-left: 56px;
  background: url(/images/bn_gold.png) no-repeat left top;
  color: #4f2a00;
  font-size: 123.1%;
  text-decoration: none;
  text-shadow: 0 1px 0 #ffad2b;
  border-right: 1px solid #dbad66;
}

a.bn_gold {
  width: 160px;
  height: 37px;
  padding-top: 10px;
}

a.bn_gold:hover {
  color: #4f2a00;
}

input.bn_gold {
/*   width: 225px; */
  height: 47px;
  border: 1px solid #c37700;
  text-align: left;
  cursor: pointer;
  padding-right: 25px;
}

/* Standard ul form styles
-----------------------------------------------------------------------------------*/

.std_form li,
dl.std_form {
  width: auto;
}

.std_form .required span,
.error {
  color: #930000;
}

.std_form span.error {
  white-space:nowrap;
}

.std_form p.instructions,
.std_form span.error {
  font-size: 93%;
  line-height: 150%;
}

.std_form p.error {
  display: inline;
}

.std_form p.instructions  { color: #535F62; }
.std_form p.error         { color: #ff3333; }

.submit {
  margin: 1em 0;
}

.std_form li label {
  display: block;
}

/* messaging
---------------------------------------------------------------------------------*/

.flash {
  margin: 0 auto 1em;
  padding: 1em 0;
  font-weight: bold;
  z-index: 1000;
}

.flash,
div.errorExplanation {
  border-width: 1px;
  border-style: solid;
  color: #2b2b2b;
}

div.error,
.errorExplanation {
  border-color:     #930000;
  background-color: #ffecec;
}

div.notice {
  border-color:     #FED600;
  background-color: #FFFBE5;
}

div.errorExplanation {
  padding-bottom: 1em;
}

.errorExplanation h2,
.errorExplanation p {
  margin-bottom: 0;
  font-weight: bold;
}

.errorExplanation h2 {
  margin: 0 0 0.5em;
  padding: 0.5em 0 0.5em 40px;
  font-size: 108%;
  color: #fff;
  background: #930000 url(/images/error_explanation.png) 10px 6px no-repeat;
  font-weight: normal;
}

.errorExplanation ul {
  padding-left: 25px;
  color: #500000;
}

.errorExplanation p {
  display: none;
}

.errorExplanation li {
  margin: 0 0 0 1em;
  padding: 0;
  list-style-type: disc; 
  list-style-position: inside;
  line-height: 1.4em;
}

.fieldWithErrors,
.fieldWithErrors *,
dt p.error {
  display: inline;
}

.fieldWithErrors option {
  display: block;
}

/* pagination
----------------------------------------------------------------------*/

div.pagination {
  clear: both;
  width: 100%;
  margin: 1em auto;
  text-align: center;
  color: #ccc;
}

.pagination span,
.pagination a {
  padding: 2px 4px;
  border: 1px solid #fff;
}

.pagination .current {
  color: #333;
  border: 1px solid #eee;
  background-color: #f6f6f6;
}

.pagination .prev_page,
.pagination .next_page  { font-weight: bold; }

.pagination .disabled   { color: #ddd; }
.pagination a           { text-decoration: none; }
.pagination a:hover     { text-decoration: underline; }

/* 2, 3, 4 columns
----------------------------------------------------------------------*/

.cols { margin-bottom: 30px; }
.col  { float: left; }

.two    .col  { width: 470px; }
.three  .col  { width: 320px; }
.four   .col  { width: 225px; }

.inner_content .two    .col  { width: 440px; }

.two .col,
.four .col   { margin-right: 20px; }

.three .col             { margin-right: 0; }

.three .double  { width: 640px; }
.four .triple   { width: 735px; }
.four .double   { width: 465px; }

 /* .aux page_content is 580 wide */

.aux .two   .col { width: 280px; }
/* .aux .three .col { width: 224px; } */
/* .aux .four  .col { width: 168px; } */

/* .aux .three .double  { width: 478px; } */
/* .aux .four .triple   { width: 544px; } */

.cols .last { margin-right: 0; }

/* clearfix
----------------------------------------------------------------------*/

.clearfix:after,
#wrapper:after,
.wrapper:after,
#nav:after,
.cols:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
}

.clearfix,
#wrapper,
.wrapper,
#nav,
.cols {
  display: inline-block;
}

html[xmlns] .clearfix,
html[xmlns] #wrapper,
html[xmlns] .wrapper,
html[xmlns] #nav,
html[xmlns] .cols {
  display: block;
}

* html .clearfix,
* html #wrapper,
* html .wrapper,
* html #nav,
* html .cols {
  height: 1%;
}