#wrapper,
#header .wrapper,
#footer .wrapper {
  width: 960px;
}

#inner {
  min-height: 500px;
}

/* layouts 
----------------------------------------------------------------------*/

#header,
#footer { background-color: #ddd; }

#header .wrapper,
#footer .wrapper { background-color: #ececec; }

#sidebar { background-color: #aaa;}

/* sidebar
----------------------------------------------------------------------*/

.aux #page_content,
#sidebar {
  position: relative;
  float: left;
}

.aux #content_wrap {
  margin-right: 320px;
}

#page_content {
  width: 100%;
}

#sidebar {
  width: 320px;
  margin-right: -320px;
}

/* clearfix
----------------------------------------------------------------------*/

.clearfix:after,
#wrapper:after,
.wrapper:after,
#nav:after,
.cols:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
}

.clearfix,
#wrapper,
.wrapper,
#nav,
.cols {
  display: inline-block;
}

html[xmlns] .clearfix,
html[xmlns] #wrapper,
html[xmlns] .wrapper,
html[xmlns] #nav,
html[xmlns] .cols {
  display: block;
}

* html .clearfix,
* html #wrapper,
* html .wrapper,
* html #nav,
* html .cols {
  height: 1%;
}