<div class="std_form">
  <p>Fill this out and you're good to go.</p>
  <ul>
    <%= f.ul_text_field     :username, :required => true %>
    <%= f.ul_text_field     :email, :text => "Email Address", :required => true %>
    <%= f.ul_password_field :password, :required => true %>
    <%= f.ul_password_field :password_confirmation, :required => true %>
  </ul>
  <p>You can rest easy – all info will remain private</p>
</div>
