<% @page_title = "Home" %>

<div id="fullMap"></div>



  <section class="topConatiner">
    <div class="topWrapper clearfix">
      <header>
        <h1 rel="header"><%= link_to "Nibbler.me", root_path, :rel => "#{company_name} Home Page" %></h1>
        </header>
      <section class="clearfix">
        <input type="text" rel="search" name="some_name" value="" placeholder="You could try somthing else too" class="nice oversize input-text" />
  	  	<a href="#" class="nice medium radius blue button searchButton">Search</a>
      </section>
      </div>
  </section>

	<button class="showResults">GIVE ME RESULTS!</button>

  <section class="logoMarker">
    Nibbler
  </section>

  <section class="noobSearch">
		<h2>Search for your favorite food&nbsp;truck or enter location.</h2>
		<%= form_tag trucks_path(:json), :method => :get do %>
      <p>
        <%= text_field_tag :q, params[:q], :class => "nice oversize input-text", :rel => "search", :placeholder => "Start Searching" %>
  			<a href="#" class="nice medium radius blue button searchButton">Search</a>
      </p>
    <% end %>
  </section>

  <section class="results">
    <h3>RESULTS</h3>
    <ul>
      <li>
        <h4>truck name</h4>
        <div>
					<p>Artesian Ice Cream & Coffee</p>
					<a href="#" class="small radius black button">Details</a>
				</div>
      </li>
      <li>
        <h4>truck name</h4>
        <div>
					<p>Artesian Ice Cream & Coffee</p>
					<a href="#" class="small radius black button">Details</a>
				</div>
      </li>
      <li>
        <h4>truck name</h4>
        <div>
					<p>Artesian Ice Cream & Coffee</p>
					<a href="#" class="small radius black button">Details</a>
				</div>
      </li>
    </ul>
  </section>