<% @page_title = "This sets the browser window page title" %>

<h1>This is an H1</h1>
<h2>This is an H2</h2>
<h3>This is an H3</h3>
<h4>This is an H4</h4>
<h5>This is an H5</h5>
<h6>This is an H6</h6>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus nunc dui, tempor eget cursus in, dictum ut augue. Nam a varius turpis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nam eu nisi at turpis vulputate blandit. Donec est purus, iaculis non euismod euismod, ullamcorper eget metus. Fusce nulla purus, cursus non hendrerit ut, lacinia vitae ante. Aenean tempus dictum mi, fermentum lobortis tellus posuere sed. Fusce id tempus erat. Suspendisse potenti. Aliquam in ante sem. Phasellus massa turpis, porta vel ultrices vitae, pulvinar ut lectus. Vivamus orci augue, sagittis id imperdiet ut, euismod eu velit. Phasellus a nisl velit, eu pellentesque ipsum. Aliquam fermentum neque ut orci vehicula at sodales nisi ullamcorper. Proin luctus eleifend odio, sit amet varius orci gravida eu.</p>

<p>Curabitur pulvinar sagittis sagittis. Morbi ullamcorper aliquet pretium. Suspendisse vel ligula augue, nec blandit est. Cras ut tortor nisl. Vivamus lobortis nisl eget quam pulvinar molestie. Ut nec nunc eu diam sodales varius. Praesent nec risus lacus. Praesent massa felis, vehicula eu lacinia in, mattis sed velit.</p>


<% content_for :sidebar do  %>
  <p>This is a right sidebar</p>
<% end %>