<% @page_title = "Home" %>

<%= content_tag :div, '', :id => 'fullMap', :"data-markers" => image_path('markers.png') %>

<section class="topContainer">
  <div class="topWrapper clearfix">
    <header>
      <h1 rel="header"><%= link_to "Nibbler.me", root_path, :rel => "#{company_name} Home Page" %></h1>
    </header>
    <section class="clearfix">
      <%= render 'search' %>
    </section>
  </div>
</section>

<section class="logoMarker">Nibbler</section>

<section class="noobSearch">
	<h2>Search for your favorite food&nbsp;truck or enter location.</h2>
  <%= render 'search' %>
</section>

<section class="growltst">
	<a class="growlclk" href="#"> click this for growl</a>
</section>



<section class="growlWrapper">
	<section class="growlNotify">
		<h3 rel="growlNotify">Van Leeuwan Ice Cream</h3>
		<p>This is the craziest awesomely good artisan ice cream and coffee. Try the Affogato it's the bee's knees!</p>
		<section class="locQuote tweet">
			<p>Ben van Leeuwen holding down the table at the Brooklyn night bazaar till 1am!! Kent between n.5th and n. 6th</p>
		</section>
		<div class="gloss">
		</div>
	</section>
</section>


<section class="resultsWrap">
  <button class="showResults" style="display: none;">SHOW/HIDE RESULTS</button>
  <ul class="results"></ul>
  <script id="result-template" type="text/x-handlebars-template">
    <li>
      <h4>{{mapIndex}}. {{truck.name}}</h4>
      <div>
				<p>{{truck.description}}</p>
			</div>
    </li>
  </script>
</section>