<% @page_title = "Home" %>

<%= content_tag :div, '', :id => 'fullMap', :"data-markers" => image_path('markers.png') %>

<section class="topContainer">
  <div class="topWrapper clearfix">
    <header>
      <h1 rel="header"><%= link_to "Nibbler.me", root_path, :rel => "#{company_name} Home Page" %></h1>
    </header>
    <section class="clearfix">
      <%= render 'search' %>
    </section>
		<section id="truckList">			
			<select>
				<option value="00"><p>Choose a Specific truck</p></option>
			  <option value="01"><p>Truck 01</p></option>
			  <option value="02"><p>Truck 02</p></option>
			  <option value="03"><p>Truck 03</p></option>
			  <option value="04"><p>Truck 04</p></option>
			</select>
		</section>
  </div>
</section>

<section class="logoMarker">Nibbler</section>

<section class="noobSearch">
	<h2>Search for your favorite food&nbsp;truck or enter location.</h2>
  <%= render 'search' %>
</section>

<section class="growlWrapper">
</section>

<script id="result-template" type="text/x-handlebars-template">
  <section class="growlNotify">
		<h3 rel="growlNotify">{{truck.name}}</h3>
		<p>{{truck.description}}</p>
		<section class="locQuote tweet">
			<p>{{truck.location.source}}</p>
			<p class="tweetTime">tweet time</p>
		</section>
		<div class="gloss"></div>
	</section>
</script>
