<% @page_title = "Home" %>

<%= content_tag :div, '', :id => 'fullMap', :"data-markers" => image_path('markers.png') %>

<!--Warning Module-->
<section class="topContainer warningMod">
  <div class="clearfix">
		<p>Warning, this shit just got fuuuuuucked up. It's you not us.. no wait, it's us not you. <a href="#">close</a></p>
	</div>
</section>

<!--Truck List-->
<section class="topContainer truckContainer">
	<section class="truckList">
		 <ul class="clearfix">
		 	<li>
		 		<p><strong>Korilla BBQ</strong></p>
		 		<p>Lo-fi whatever salvia, readymade mixtape farm-to-table biodiesel +1. Jean shorts gluten-free twee vice irony. Hoodie irony VHS, shoreditc hc</p>
		 	</li>
			<li>
		 		<p><strong>Taim Falafel</strong></p>
		 		<p>FiDi (Front St. & Gouveneur Ln.) read to go at 11:15AM!
			FiDi (Front St. & Gouveneur Ln.) read to go at 11:15AM!</p>
		 	</li>
			<li>
		 		<p><strong>Kimchi Taco</strong></p>
		 		<p>closed</p>
		 	</li>
			<li>
		 		<p><strong>Schnitzels & Things</strong></p>
		 		<p>FiDi (Front St. & Gouveneur Ln.) read to go at 11:15AM!</p>
		 	</li>
			<li>
		 		<p><strong>Go Burger</strong></p>
		 		<p>FiDi (Front St. & Gouveneur Ln.) read to go at 11:15AM!
			FiDi (Front St. & Gouveneur Ln.) read to go at 11:15AM!</p>
		 	</li>
			<li>
		 		<p><strong>Korilla BBQ</strong></p>
		 		<p>Lo-fi whatever salvia, readymade mixtape farm-to-table biodiesel +1. Jean shorts gluten-free twee vice irony. Hoodie irony VHS, shoreditc hc</p>
		 	</li>
		 </ul>
	</section>
</section>

<!--Main header search-->
<section class="topContainer">
  <div class="topWrapper clearfix">
    <header>
      <h1 rel="header"><%= link_to "Nibbler.me", root_path, :rel => "#{company_name} Home Page" %></h1>
    </header>
    <section class="clearfix">
      <%= render 'search' %>
    </section>
			<a href="#" class="nice small radius black button searchButton truckListBttn">List Trucks</a>
  </div>
</section>

<!-- First load logo & search -->
<section class="logoMarker">Nibbler</section>

<section class="noobSearch">
	<h2>Search for your favorite food&nbsp;truck or enter location.</h2>
  <%= render 'search' %>
</section>

<section class="growlWrapper">
</section>

<script id="result-template" type="text/x-handlebars-template">
  <section class="growlNotify">
		<h3 rel="growlNotify">{{truck.name}}</h3>
		<p>{{truck.description}}</p>
		<section class="locQuote tweet">
			<p>{{truck.location.source}}</p>
			<p class="tweetTime">{{truck.location.posted_at}}</p>
		</section>
		<div class="gloss"></div>
	</section>
</script>
