// Active Admin CSS Styles
@import "active_admin/mixins";
@import "active_admin/base";

// To customize the Active Admin interfaces, add your
// styles here:

// we want to be able to have some text to go with our login form links
body.logged_out #login .link_with_text {
  float: right;
  margin-top: -32px;

  a { margin: -18px 0 0 1em; }
}

#theMap {
  width: 700px;
  height: 500px;
  margin-bottom: 1em;

  &.bounding {
    // styles or when the map goes into bounds-setting mode here
  }
}

#truck_collection_bounding_area > input[type=button] {
  margin-left: 20%;
}
