

@import "css3-mixins";

$blue: #057bcd;
@mixin font {
		font-family: Raleway, cursive;
		font-weight: 100;
}



body {
	background: $blue url(/assets/whitediamond.png) 0 0 repeat;
	color: #FFF;
	@include font;
}

h1, h2 {
	@include font;
	text-align: center;
	margin: 0;
}

h1[rel='header'] {
  text-align: left;
  line-height: 1em;
}

h2 {

}

header a {
  color: #fff;
  text-decoration: none;
}

header a:hover {
  color: orange;
}

#fullMap { //positions background map
  position: absolute;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
}

.logoMarker {
  position: relative;
  margin: 50px auto 0 auto;
  width: 182px;
  height: 246px;
  background: url(/assets/nibbler-logo.png) 0 0 no-repeat;
  text-indent: -9999px;
  }

.topContainer,
.noobSearch,
.results {
  position: relative;
  margin: 0 auto;
	padding: 20px;
	width: 960px;
	background: $blue;
	@include border-radius($radius: 3px);
}

.topContainer {
  width: 100%;
  padding: 5px 0;
  @include border-radius-separate($topLeftRadius: 0px, $topRightRadius: 0px, $bottomLeftRadius: 3px, $bottomRightRadius: 3px);
}

.topWrapper {
  width: 960px;
  margin: 8px auto 0 auto;
  display: none;
}

.topContainer header {
  width: 400px;
  float: left;
}

h1[rel='header'] {
  text-align: left;
  line-height: 1em;
}

.topConatiner input[rel="search"] {
  opacity: 0.8;
  filter: alpha(opacity=80);
  -webkit-transition: opacity 1s linear;
}

.topContainer input[rel="search"]:hover,
.topContainer input[rel="search"]:focus {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transition: opacity 0.5s linear;
}

.searchButton {
	margin-left: 20px;
}

.noobSearch {
	margin-top: 50px;
	padding: 40px 0;
	text-align: center;
}

.noobSearch h2 {
  margin-bottom: 30px;
}

.noobSearch section {
	width: 500px;
	margin: 0 auto;
}

input[rel="search"] {
  padding: 10px;
  width: 300px;
  @include border-radius($radius: 3px);
  border: 0px solid #fff;
}

.resultsWrap {
	background: red;
	}

button.showResults {
	position: fixed;
	padding: 10px;
	top: 74px;
	right: 0;
	background: rgba(0,0,0, 0.8);
	color: #fff;
	border: none;
	@include border-radius-separate (
		$topLeftRadius: 8px,
		$topRightRadius: 0px,
		$bottomLeftRadius: 0px,
		$bottomRightRadius: 0px
		);
}

.results {
  position: fixed;
  top: 110px;
  right: -300px;
  background: rgba(0,0,0, 0.8);
  width: 250px;
  z-index: 4;
@include border-radius-separate (
	$topLeftRadius: 8px,
	$topRightRadius: 0px,
	$bottomLeftRadius: 0px,
	$bottomRightRadius: 8px
	);
	text-transform: uppercase;
}

.results li {
	padding-bottom: 1em;
	border-bottom: 1px solid #666;
}

.results li:nth-last-child(1){
	border-bottom: 0px;
	padding: 0;
}

.results p {
	font-family: verdana;
	font-size: 9px;
}












