body { 
  color: #111;
  font-size:    16px;
  line-height:  1.5em;
  font-family: "Georgia", "Times New Roman", "Times", serif;
}

#wrapper,
#header .wrapper,
#footer .wrapper {
  width: 960px;
}

#inner {
  min-height: 500px;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* layouts 
----------------------------------------------------------------------*/

#header,
#footer { background-color: #ddd; }

#header .wrapper,
#footer .wrapper { background-color: #ececec; }

#sidebar { background-color: #aaa;}

/* sidebar
----------------------------------------------------------------------*/

.aux #page_content,
#sidebar {
  position: relative;
  float: left;
}

.aux #content_wrap {
  margin-right: 320px;
}

#page_content {
  width: 100%;
}

#sidebar {
  width: 320px;
  margin-right: -320px;
}

/* 2, 3, 4 columns
----------------------------------------------------------------------*/

.cols { margin-bottom: 1.5em; }

.col  {
  display: inline;
  float: left;
  margin: 0 10px;
  background-color: #eee;
}

.two    .col  { width: 460px; }
.three  .col  { width: 300px; }
.four   .col  { width: 220px; }

.three .double  { width: 640px; }
.four .triple   { width: 735px; }
.four .double   { width: 400px; }

/* clearfix
----------------------------------------------------------------------*/

.clearfix:before,
.clearfix:after,
#wrapper:before,
#wrapper:after,
#nav:after,
#nav:before,
.cols:after,
.cols:before,
#content_wrap:after,
#content_wrap:before {
  content: "\0020"; 
  display: block; 
  height: 0; 
  visibility: hidden;
}

.clearfix:after,
#wrapper:after,
#nav:after,
.cols:after,
#content_wrap:after { clear: both; }

.clearfix,
#wrapper,
#nav,
.cols,
#content_wrap { zoom: 1; }