body {
  font: 100%/1.5em Georgia, 'Times New Roman', serif; /* 24px baseline */
}

a {
  outline: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Helvetica, Arial, sans-serif;
  margin-bottom: 1em;
}

h1 {
  font-size: 1.875em; /* 30px */
}

h2 {
  font-size: 1.5em; /* 24px */
}

h3 {
  font-size: 1.125em; /* 18px */
}

h4 {
  font-size: 0.875em; /* 14px */
}

h5 {
  font-size: 0.75em; /* 12px */
}

h6 {
  font-size: 0.6875em; /* 11px */
}

p {
  font-size: 0.8125em; /* 13px */
  margin-bottom: 1.5em;
}

ul, ol {
  margin-bottom: 1.5em;
}