<% @page_title = "Users"%>

<% actions do %>
  <div class="action">
    <%= link_to "Add a New User", new_admin_user_path, :class => "icon add_user" %>
  </div>
<% end %>

<% content_for :sidebar do %>
  <%= render :partial => "admin/shared/sidebar" %>
<% end %>

<%#= render :partial => "admin/shared/paginator", :locals => { :queue => @users } %>