<% @page_title = "User: " + @user.username %>

<% actions do %>
  <div class="action">
    <%= link_to "Edit User", edit_admin_page_path(@user), :class => "icon edit" %>
  </div>
<% end %>

<div class="show">
  <dl class="show">
    <dt>Email</dt>
    <dd><%=h @user.email %></dd>
    <dt>Created At:</dt>
    <dd><%= @user.created_at.to_s(:admin) %></dd>
  </dl>
</div>
