<% @page_title = "User: <em>#{h(@user.username)}</em> #{object_updated_at}" %>

<% content_for :sidebar do %>
  <%= render :partial => "admin/shared/sidebar" %>
<% end %>

<%= render @user %>

<h3>Quick Stats</h3>
<dl>
  <dt>Member Since</dt>
  <dd><%= @user.created_at.to_s(:long_with_zone) %></dd>
</dl>
