<table class="dataset">
  <thead>
    <tr>
      <%= render :partial => "admin/shared/column_headers", :locals => {:index => index} %>
    </tr>
  </thead>
  <tbody class="index_body">
    <%= render :partial => "admin/shared/queue", :locals => { :queue => queue, :index => index } %>
  </tbody>
</table>
