<% queue.each do |item| %>
  <%= zebra_row_for(item) do %>
    <% index.columns.each do |column| %>
      <% if column.column_value? %>
        <td><%= column.column_value(self, item) %></td>
      <% else %>
        <td><%= item.__send__(column.column_name) %></td>
      <% end %>
    <% end %>
  <% end %>
<% end %>
