<h3>Quick Actions</h3>
<ul class="quick_add">
  <li><%= link_to "Add a New Page", new_admin_page_path, :class => "add_page" %></li>
  <li><%= link_to "Add a New User", new_admin_user_path, :class => "add_user" %></li>
</ul>